html, body {
    height: 100%;
    background-color: rgb(5, 21, 37)
}
  
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(1, 22, 39);
}

.Game {
    background: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
    height: auto;
    overflow: hidden;
}

.canvas-container {
    max-width: 3580px;
    max-height: 1920px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas-container-scroll {
    max-width: 3580px;
    max-height: 1920px;
    width: 100%;
    height: 100%;
}

canvas {
    background: black;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    cursor: cell;
}

video {
    background: black;
    width: 265px;
    height: 190px;
    overflow: hidden;
    border: 0px;
    outline: none;
}

svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: none;
}

.ui.grid {
    height: 100%;
}

.content-column {
    padding-right: 1em;
    padding-bottom: 1em;
}

.cursor-grab {
    cursor: grab !important;
}

.cursor-grabbing {
    cursor: grabbing !important;
}

.ui.top.attached.menu > .item:first-child {
    border-radius: .28571429rem;
}

.layout-border {
    border: 1px solid rgb(42, 56, 69);
}

.layout-properties {
    color: rgb(176, 185, 190);
    width: 100%;
    height: calc(100% - 90px);
    padding: 0.5em;
    overflow-y: scroll;
}

.layout-scripting {
    color: rgb(176, 185, 190);
    width: 100%;
    height: 100%;
    padding: 0.5em;
    overflow-y: scroll;
}

.node-group {
    cursor: pointer;
}

.node {
    fill: white;
    stroke: orange;
    stroke-width: 3;
    opacity: 1;
    width: 150px;
    height: 40px;
}

.decision {
    fill: rgb(205, 216, 236);
    stroke: rgb(81, 76, 153);
    width: 100px;
}

/* 
.node:hover {
    fill: rgb(158, 202, 97);
    opacity: 1;
} */

.node-group:hover > .node {
    fill: rgb(158, 202, 97);
}

.node-group:active > .node {
    fill: rgb(131, 168, 81);
}
.node-group:focus > .node {
    fill: rgb(131, 168, 81);
}
.selected {
    fill: rgb(131, 168, 81);
}

.ui.input > input {
    color: rgb(176, 185, 190);
    background-color: rgb(42, 56, 69);
}

.ui.label {
    background-color: rgb(25, 39, 54);
    color: rgb(158, 202, 97);
    width: 60px;
    text-align: right;
}

h4.ui.header {
    color: rgb(158, 202, 97);
    font-size: .78571429em;
}

.video-preview {
    background: black;
    border: 1px solid rgb(42, 56, 69);
    outline: none;
    cursor: cell;
    width: 100%;
    height: 100%;
}

.video-preview-container {
    background: black;
    max-width: 3580px;
    max-height: 1920px;
    overflow: hidden;
    border: 0px;
    width: 100%;
    height: 100%;
}

.screen-container {
    position: relative;
    background: black;
    max-width: 3580px;
    max-height: 1920px;
    overflow: hidden;
    border: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: cell;
}

.screen-video {
    width: 100%;
    height: 100%;
}

.screen-video-intro {
    height: 100%;
}

.screen-video-ingame {
    position: relative;
    top: -20px;
}

.editor-screen-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.editor-screen-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.location-description {
    position: relative;
    left: 2em;
    bottom: 15.5em;
    color: rgb(232, 238, 241);
    text-align: left;
    text-shadow: 1px 1px #000;
    white-space: nowrap;
}

/* @keyframes typing {
    from{ width: 0 }
    to { width: 100% }
}

.location-typing pre {
    animation: typing 3.5s steps(30, end);
} */

.decision-container {
    position: relative;
    bottom: 8.5em;
    height: auto !important;
}

.decision-video {
    width: auto;
    height: auto;
}

.decision-item-container {
    padding: 1em 0 1em 0 !important;
};

#decision-container .decision-item {
    visibility:hidden;
    text-align: center;
    width: 100%;
}

#decision-container:hover .decision-item {
    visibility: visible;
    color: rgb(176, 185, 190);
}

.hotspot-item {
    cursor: pointer;
}
