html, body {
    height: 100%;
    background-color: rgb(5, 21, 37)
}
  
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(1, 22, 39);
}

.Game {
    background: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
    height: auto;
    overflow: hidden;
}

.canvas-container {
    max-width: 3580px;
    max-height: 1920px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas-container-scroll {
    max-width: 3580px;
    max-height: 1920px;
    width: 100%;
    height: 100%;
}

canvas {
    background: black;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    cursor: cell;
}

svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ui.grid {
    height: 100%;
}

.content-column {
    padding-right: 1em;
    padding-bottom: 1em;
}

.cursor-grab {
    cursor: grab !important;
}

.cursor-grabbing {
    cursor: grabbing !important;
}

.ui.top.attached.menu > .item:first-child {
    border-radius: .28571429rem;
}

.layout-border {
    border: 1px solid rgb(42, 56, 69);
}

.layout-properties {
    color: rgb(176, 185, 190);
    width: 100%;
    height: 100%;
}

.node-group {
    cursor: pointer;
}

.node {
    fill: white;
    stroke: orange;
    stroke-width: 3;
    opacity: 1;
}
/* 
.node:hover {
    fill: rgb(158, 202, 97);
    opacity: 1;
} */

.node-group:hover > .node {
    fill: rgb(158, 202, 97);
}

.node-group:active > .node {
    fill: rgb(131, 168, 81);
}
.node-group:focus > .node {
    fill: rgb(131, 168, 81);
}
.selected {
    fill: rgb(131, 168, 81);
}
